*{
    list-style: none;
    font-family: monospace;
}

header ul {
    display: flex;
    justify-content: space-around;
    padding:3%;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
button {
    padding: 15px 30px;
    border: none;
    background-color: #b47db8;
    color: white;
    font-size:150%;
    cursor: pointer;
}