*{
    list-style: none;
    font-family: monospace;
}

header ul {
    display: flex;
    justify-content: space-around;
    padding:3%;
    font-size: 125%;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8%;
    padding-top:0;
}
p {
    font-size:125%
}
h1 {
    font-size: 200%;
}
button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background-color: #b47db8;
    color: white;
    font-size:150%;
    cursor: pointer;
}
button:hover {
    background-color: #6aa2ec;
}
#scores {
    color:#b47db8;
    font-weight: bolder;
}
#scores:hover {
    text-decoration: underline;
    cursor:pointer;
}
#input button{
    margin: 5%;
}
.result {
    color:#b19fb4;
    font-style: italic;
    text-decoration:overline dashed #b47db8;
    font-size:175%;
}
#scorelist li {
    background-color: #e48dbd;
    font-size:150%;
    color: white;
    border-radius: 19px;
    padding: 10px;
    margin:20px;
}